{% comment %} <h3>Password reset</h3>

<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

<form method="post">

	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Send email">

</form> {% endcomment %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Y-GamingBD</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div class="account">
        <h1>Froget Password ?</h1>
    </div>
    <div class="container_send_mail">
        <h3>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</h3>
        <form action="" method="post" class="login">
		{% csrf_token %}
		{{form.as_p}}
            <input type="submit" value="Send Mail">
		</form>
</body>
</html>
