


{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "home/head_css.html" %}

<body>




	<section class="mainmenu-area stricky">
		{% include "home/navbar.html" %}
	</section>

<br>
<br>


	<section class="flash-sales">
		<div class="container">
			<div class="row">
              <div class="align-items-center  mx-auto">
                    <div class="list-group-flush" style="text-align:center; font-size:18px">
                        <p class="list-group-item" style="background-color:#103A62; color: white;">
                            User Information for  {{ user.username }}
                        </p>
                        <p class="list-group-item list-group-item-action">User Name: {{ user.username }}</p>
                        <p class="list-group-item list-group-item-action">User Email: {{ user.email }}</p>
                        <p class="list-group-item list-group-item-action">Phone Number: {{ user.profile.phone }}</p>
                        <br>
                        <a href="{% url 'edit_profile' %}"  class="btn btn-warning btn-lg btn-block">Edit Profile</a>

                        
                    </div>
               </div>
			</div>
		</div>
        
	</section>
<br>


	<footer class="main-footer">
		{% include "home/footer.html" %}
</footer>

	<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>

	{% include "home/js_file.html" %}

</body>

</html>

