body{
    margin: 0;
    padding: 0;
    background: scroll; 
    background-size:cover;
    /* background-position: fixed; */
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 400px;
    height: 400px;
    background: #103A62;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 2%;
    padding: 50px 30px;
}
#signup_container{
    width: 500px;
    height: 605px; 
   
} 
h1{
    text-align: center;
    margin: 0%;
    padding: 0%;
    color:yellow;
}
.container p{
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    color: white;
}
.container input{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px ;
    height: 28px;
}
.container input[type="email"], input[type="password"], input[type="text"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
.container input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:yellow;
    color: black;
    font-size: 18px;
    border-radius: 4px;
}
.container input[type="submit"]:hover{
    cursor: pointer;
    background:#103A62;
    color: oldlace;
    border: 1px solid white;

}
.container a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: white;
}
.container a:hover{
    color:yellow;
}







/* for send email page */
.container_send_mail,
#password_change{
    width: 90%;
    height: 400px;
    background: #103A62;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 2%;
    padding: 50px 30px;
}
.container_send_mail p{
    margin: 10px auto;
    padding: 0;
    font-weight: bold;
    color: white;
}
h3{
    /* text-align: center; */
    margin: 0%;
    padding: 0%;
    color:  yellow;
}
.container_send_mail input[type="email1"]{
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    height: 30px;
    color:blacks;
    font-size: 16px;
    
}
.container_send_mail input{
    width: 300px;
    margin-bottom: 20px;
    border-radius: 4px ;
    height: 28px;
}
.container_send_mail input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: yellow;
    color: black;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
}
.container_send_mail input[type="submit"]:hover{
    cursor: pointer;
    background: #103A62;
    color: oldlace;
    border: 1px solid white;

}
.container_send_mail a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(0, 0, 0);
}
.container_send_mail a:hover{
    color: #53b6b6;
}





/* after mail sent */
#signup_container{ 
    margin-top: 10px;
}
.account{
    background-color: rgb(168, 175, 175);
    height: 200px;
}
.account h1{
    text-align: left;
    font-weight: bold;
    color: #103A62;
    margin: 40px 88px;
    font-size: 45px;
    
}
.GFG { 
    background-color: white; 
    border: 2px solid black; 
    color: #53b6b6; 
    padding: 5px 10px; 
    text-align: center; 
    display: inline-block; 
    font-size: 20px; 
    margin: 10px 30px; 
    cursor: pointer; 
} 
/* .small{
    height:205px
} */





  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 669px) {
    .container,  input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .account h1{
        margin: 90px 20px;
        padding: 0;
        font-size: 30px;

    }
  } 
 @media screen and (max-width: 769px) and (min-width: 670px) {
    .account h1 {
        text-align: left;
        font-weight: bold;
        color: #103A62;
        margin: 155px 63px;
        font-size: 45px;
       
    }
    
}  
@media screen and (max-width: 464px){
     .container_send_mail input[type=submit1]{
         width: 30%;
     }
     .container_send_mail input[type=email1]{
        width: 100%;
    }
    .container_send_mail input[type=password]{
        width: 100%;
    }
    #signup_container {
        width:100%;
          
    }
} 

