{% load static %}
<!DOCTYPE html>
<html lang="en">
   <link rel="stylesheet" href="{% static 'css/checkout_style.css' %}">
   {% include 'home/head_css.html' %}
   <body>

<div class="fixed-top">
	{% include "home/navbar.html" %}
</div>




<br>
<br>

     
<section class="product-details spad">
	<div class="text text-center">
		<h3 style="font-weight:600;">Check <span style="color:#EEAB1E; ">Out</span</h3>

	</div>
</section>

      <!-- container -->
    <div class="container mb-5">
      <!-- row -->
      <div class="row ">
            <div class="col-md-7 ">
            
                 <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                        <h3 class="title">Your Infromation</h3>
                        </div>
                        <div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Bkash/ Rocket/ Nogod Infromation
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
           Bkash- 01400707460 <br>
           Nogod- 01400707460 <br>
           Rocket- 01400707460 


      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Bank Account Information
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      dbbl  1111111111111111111111
     <br>ebl  11111111111111111111111 

      </div>
    </div>
  </div>
  </div>
  
</div> 
                        <form action="" method="POST" class="p-5 bg-light">
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                    <input type="submit" value="Place order" class="primary-btn order-submit">

                        </form>
                         
                        </div>
                        </div>
               
                    
                
      <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products">
                    {% for item in items %}
                        <div class="order-col">
                        <div>{{ item.quantity }}x {{ item.item.name }}</div>
                        <div>${{ item.price }}</div>
                        </div>
                    {% endfor %} 
                    </div>
                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total">${{ cart.total_price }}</strong></div>
                    </div>
                    {% comment %} <a href="{% url 'order' %}" class="primary-btn order-submit">Place order</a> {% endcomment %}

            </div>
        
        </div>
    </div>
    </div>
    <br>


<footer class="main-footer mt-3">
		{% include "home/footer.html" %}
</footer>

<!-- Scroll Top Button -->
	<button class="scroll-top tran3s color2_bg">
		<span class="fa fa-angle-up"></span>
	</button>
	<!-- pre loader  -->
	<div class="preloader"></div>




{% include 'home/js_file.html' %}

<!--
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   --> 
   </body>

</html>