{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include "home/head_css.html" %}

<body>





<div class="fixed-top">
	{% include "home/navbar.html" %}
</div>




<br>
<br>


	<section class="product-details spad">
        <div class="container">
			<div class="row mt-5">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Search For: {{ serch_key }} </h5>
                    </div>
                </div>
				{% if serach_items %}
				{% for item in serach_items %}

					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg" data-setbg="{{ item.feature_image.url }}">
								{% if item.in_stock %}
								<div class="label new">Stock Available</div>
								{% else %}
								<div class="label stockout">Out Of Stock</div>
								{% endif %}
								<ul class="product__hover">
									<li><a href="{{ item.feature_image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
									<li><a href="{% url 'product-detail' item.id %}"><span class="fa fa-eye"></span></a></li>
						<li><a href="{% url 'product-detail' item.id %}"><span class=""><i class="fa fa-cart-plus" aria-hidden="true"></i></span></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6><a href="{% url 'product-detail' item.id %}">{{ item.name }}</a></h6>
								
								<div class="product__price">৳&nbsp;{{ item.new_price }}  <del>৳&nbsp;{{ item.old_price }}</del></div>
							</div>
						</div>
					</div>

				{% endfor %}
				{% else %}
				<h5> No Result Found </h5>
				{% endif %}

            </div>

		</div>
	</section>











	<footer class="main-footer">
		{% include "home/footer.html" %}
	</footer>



	{% include "home/js_file.html" %}

</body>

</html>



