{% extends 'base/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">New Category Create</div>
    <div class="card-body">
        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for fields in form %}
                <div class="form-group"></div>
                {{ fields.label_tag }}
                {{ fields }}
            {% endfor %}
            <br>
            <input type="submit" value="Submit" class="text-success">
        </form>
    </div>
</div>


{% endblock %}